body {
  margin: 0;    
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.react {
  display: flex;
  gap:2px;
  align-items: center;
  color: lightskyblue;
}

.react > .logo {
  font-size: 2rem
}

.nav-list {
  list-style: none;
  display: flex;
  gap:10px;
  cursor: pointer;    
}

nav {
  background-color: #21222A;
  color: #fff;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  box-shadow: 0 2px 3px -2px#878b8f;
}

nav > ul {
  margin: 0;
}


footer {
  color: #fff;
  padding: 10px;
  background-color: #878b8f;
}

hr {
  margin-top: 0;
}


main {
  background-color: #33373E;
  color: #fff;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
  padding-left: 20px;
  background-image: url(./images/react-js-icon.png);
  background-repeat: no-repeat;
  background-position: right 75%;
}

main > h1 {
  margin: 0;
  font-size: 39.06px;
}

main > ul {
  list-style-type: #61DAFB;
}

main > ul > li {
  line-height: 19px;
  padding-block: 0.8rem;
}

main > ul > li::marker {
  font-size: 1.5rem;
  color: #61DAFB;
}